div.betBar{height: 108px; width: 100%; background: url(Images/betBarBg.gif);  overflow: hidden;padding-bottom:10px}
.main #amountBoard
{
    float: left;
    font-weight:bold;
    color:Blue;
    height:109px;
    width: 330px;
    background:url(Images/betBoardBg.gif);
    margin-top:5px;
    margin-left:5px;
}
#amountBoard #date
{
    width: 100%;
    margin-top:10px;
    margin-left:10px;
    font-weight: bold;
}
#amountBoard #date span
{
    margin-right:100px;
    }
#amountBoard #timeBar{width:260px; text-align:center;padding:5px 0px;}
#amountBoard #currentTime{width: 170px;font-size: 20px; color: #fff; text-align:center}
#amountBoard .abMount{color:#fff; font-size:14px; margin-left:10px; width:250px;}
.abMount #outstanding{float:right; color:#DFAA06;}
.abMount #betCredit{float:right; color:#DFAA06;}
#openCompany{float: left; height: 97px; margin-left: 5px; color: #000; font-weight:bold}
#openCompany span{color:#FC6E02;}
.main #command .bigSubmit{width:170px; height:29px; background:url(images/button_on_green.gif);border:none; color:#fff;}
.main #command .bigReset{width:170px; height:29px; background:url(images/button_down_red.gif);border:none; color:#fff;}
.main #command
{
    width: 350px;
    float: right;
    text-align: center;
    padding-top: 60px;
    color:#fff;
}
table#betTable
{
    margin: 0px;
    border-collapse: collapse;
}
table#betTable
{
    border: solid 1px #fff;
}
#betTable tbody td
{
    padding-left: 5px;
    height:40px;
}
tbody td.gameEnd
{
    border-right: solid 1px #fff;
}
thead td
{
    background: #ffcf31;
    text-align: center;
    color: #9A544C;
    height: 38px;
    font-weight: bold;
    border:none;
}
tr#title td
{
    background: url(images/shadow1.gif) repeat-x;
    background-color:#ffcf31;
    height: 25px;
    color: #000100;
    font-weight: bold;
}
tr.first td
{
    background: url(images/shadow2.gif) repeat-x;
    }
#betTable tbody label
{
    font-size:12px;
    color:#8F6447;
    }
#betTable tbody label.blue{color:#67ACE5}
table#betTable input[type='text']
{
    min-width: 40px;
    *width:40px!important;
    width: 60%;
    height: 20px;
    border: solid 1px #C1C1C1;
    text-align: center;
}
table#betTable input[type='checkbox']
{
    margin: 0px;
    padding: 0px;
}
tr.odd td
{
    background-color: #F6F3EA;
}
tr.even td
{
    background-color: #D2D3D5;
}
tr td.roll7
{
    background-color:#73ae57;    
}
table#betTable tbody tr:hover td {background: #67ACE5;color: #fff;}
.turnover
{
    color:Red;
    font-weight:bold;
    }
.arrow_box
        {
            position: relative;
            background: #88b7d5;
            border: 2px solid #f5f5f5;
            padding: 3px 0px;
        }
        .arrow_box:after, .arrow_box:before
        {
            top: 100%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }
        
        .arrow_box:after
        {
            border-top-color: #88b7d5;
            border-width: 10px;
            left: 50%;
            margin-left: -10px;
        }
        .arrow_box:before
        {
            border-top-color: #f5f5f5;
            border-width: 13px;
            left: 50%;
            margin-left: -13px;
        }
        .arrow_box input[type='button']
        {
            clear: both;
            color:#000;
            padding: 2px;
            height: auto;
            margin-right: 0px;
            min-width: 50px;
            font-weight: bold;
            background: white;
            border: solid 1px #CCC;
            border-radius: 5px;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
        }
        .arrow_box table
        {
            border:none;
            width:100%;
            text-align:center;
            }
.ui-widget
{
    font-family: "Trebuchet MS" , Verdana, Helvetica, Sans-Serif,黑体;
    }