h3
{
    color: #fff;
    background: #4C4C4C;
    margin: 0px;
    padding: 10px;
}
table
{
    text-align: center;
}
table thead td
{
    background: #F7F5CE;
    color: #8F3425;
}
table td span
{
    padding: 5px;
}
table.outTable td
{
    padding: 0px;
}
table.outTable tr:hover
{
    background: none;
    color: #696969;
}
table.innerTable
{
    border: none;
}
table.innerTable td
{
    padding: 3px;
}
table.innerTable tr:hover
{
    background: #67ACE5;
    color: #fff;
}
table input[type='text']
{
    width: 60px;
    border: solid 1px #B3B3B3;
    height: 20px;
    text-align: center;
}
div.buttons
{
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}
