#pager
{
    font-size: 12px;
    text-align: center;
    color: #2E6AB1;
    line-height: 250%;
    width: 100%;
    text-align: right;
}
#pager a
{
    border: 1px solid #ccc;
    color: #aaa;
    margin-right: 4px;
    padding: 2px 8px;
    text-decoration: none;
}
#pager a:hover
{
    border: 1px solid #FFFDF4;
    color: #88af3f;
    background-color: FBFBFB;
}
#pager span.current
{
    background-color: #cfd98f;
    border: 1px solid #cfd98f;
    color: #FFFFFF;
    font-weight: bold;
    margin-right: 4px;
    padding: 2px 8px;
}
