body{background:#244950}
center div
{
    margin-top:100px;
    background: url(images/loginBG_Guest.jpg) no-repeat;
    width: 1000px;
    height: 800px;
}
table
{
    border: none;
    top: 150px;
    position: relative;
    width:300px;
}
table th
{
    color: #fff;
    font-size: 20px;
    text-align: left;
}
table td
{
    text-align: left;
    color: #00ffff;
    font-weight: bold;
}
table td label{min-width:50px;display:inline-block;}
body table input[type='text'],body table  input[type='password']
{
    width: 254px;
    height:44px;
    border:none;
    color:#fff;
    background:url(images/login_input.png) no-repeat;
}
body pre
{
    padding-top:10px;
    width:484px;
    text-align:right;
    padding-right:30px;
    }
body pre span.btn
{
    height:50px;
    width:160px;
    padding-top:7px;
    padding-left:1px;
    padding-right:2px;
    display:block;
    }
body input[type='submit'].login
{
    background: url(images/login_btn.jpg);
    height: 40px;
    width: 251px;
    border: none;
    font-weight: bold;
    color: #00ff00;
    font-size: 16px;
}
select{width:97%;}
dd{margin-left:40px; padding-top:0px;}
dd input, dd input[type='password']{width:90%; border:solid 1px #ccc; height:20px;}