table
{
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    color: #696969;
}
table td
{
    padding: 3px;
}
table thead tr td
{
    background: url(images/shadow3.gif) repeat-x;
    height: 39px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    border: none;
}
table.innerTable thead td
{
    background: #71af52;
}
table thead td.rows
{
    background: url(images/shadow3.gif) left bottom repeat-x;
    background-color: #73ae57;
}
table thead a
{
    color: #fff;
}
table tbody tr td
{
    height: 25px;
    border: solid 1px #e8eef4;
}
table tbody td a
{
    color: #771919;
    text-decoration: none;
}
table tbody td a:hover
{
    color: #FDD116;
    text-decoration: none;
}
table tbody tr.odd td
{
    background: #B3B3B3;
}
tr.canceld td
{
    text-decoration: line-through;
    color: Red;
}
table tbody tr:hover
{
    background: #67ACE5;
    color: #fff;
}
tr.hang
{
    background: #67ACE5;
    color: #fff;
}
table .foot
{
    background: #ffcc33;
    border-bottom: solid 1px #fff;
    color: #fff;
    height: 30px;
}
table tfoot
{
    font-weight: bold;
    background: #F3E6AF;
}
table tfoot tr
{
    background: #ffcc33;
}
table tfoot td
{
    border-bottom: solid 1px #fff;
    color: #fff;
    height: 30px;
}
td.red
{
    color:red;
}
td.red a
{
    color: red;
}
tr.odd
{
    background: #B3B3B3;
    color: #fff;
}
