div#left
{
    min-width: 308px;
    width: 31%;
    float: left;
}
div#right
{
    min-width: 678px;
    width: 69%;
    float: left;
}
div#right div
{
    width: 100%;
}
div#right
{
    text-align: center;
}
div#right table tbody td
{
    height: 30px;
}
#right table td span
{
    padding: 0px 20px 0px 20px;
}
table
{
    border-right: solid 1px #fff;
}
table .odd
{
    color: #FB6C0C;
    background: #F7F9EC;
}
table .even
{
    color: #660409;
}
table.oddTable
{
    width: 100%;
    text-align: center;
}
.oddTable tbody td
{
    height: 30px;
}
.oddTable .odd
{
    background: #FFFFEC;
    border-right: solid 1px #fff;
}
.oddTable td span
{
    padding: 0px 8px 0px 8px;
}
.oddTable table
{
    width: 100%;
}
table table input[type='text']
{
    text-align: center;
    width: 80%;
    height: 20px;
    border: solid 1px #e7be89;
}
table table
{
    width: 100%;
}
table.innerTable tbody td
{
    width: 25%;
    height: 30px;
}
table td span
{
    font-weight: bold;
}
label
{
    color: #000;
}
table table .odd
{
    color: #781919;
    font-weight: bold;
}
label
{
    color: #8F6447;
}
table thead td{background:url(images/shadow3.gif) repeat-x; height:47px;}