@{
    Layout = null;
}
@using LotteryVoteMVC.Resources
<!DOCTYPE html>
<html>
<head>
    <title>NoPermission</title>
</head>
<body>
    <center>
        <div style="background:url(@Url.Content("~/Content/Images/no.gif")) no-repeat;width:800px;height:600px;margin-top:50px">
        <br /><br /><br /><br /><br /><br /><br /><br /><br />
        <h1>
            <span style="text-decoration: none; color: #fff">@Resource.NoPermission</span>
        </h1>
        <h5>
            <a style="color:#fff" href="/">首页</a> <a style="color:#fff" href="@((Request.UrlReferrer ?? Request.Url).ToString())">
                上一页</a></h5>
        </div>
    </center>
</body>
</html>
