body{background:#fdd116}
center div
{
    background: url(images/loginBG_orange.gif);
    width: 990px;
    height: 800px;
}
table
{
    border: none;
    top: 260px;
    position: relative;
}
table th
{
    color: #781919;
    font-size: 22px;
    text-align: left;
}
table td
{
    text-align: left;
    color: #fff;
    font-weight: bold;
    height: 36px;
}
input[type='text'], input[type='password']
{
    width: 97px;
}
body table input[type='text'],body table  input[type='password']
{
    width: 85%;
    *width:130px;
}
body pre
{
    padding-top:10px;
    width:484px;
    text-align:right;
    padding-right:30px;
    }
body pre span.btn
{
    height:50px;
    width:160px;
    padding-top:7px;
    padding-left:1px;
    padding-right:2px;
    display:block;
    }
body pre  input[type='submit']
{
    background: url(images/loginBtn_orange.gif);
    height: 42px;
    width: 153px;
    border: none;
    font-weight: bold;
    color: #fff;
    font-size: 25px;
}
.vcode
{
    vertical-align: middle;
    text-align: center;
}
.vcode img
{
    vertical-align: middle;
}
input[type='text'].verifyCode
{
    width: 50px;
}
select{width:102px;}
dd{margin-left:40px; padding-top:0px;}
dd input, dd input[type='password']{width:90%; border:solid 1px #ccc; height:20px;}