<?xml version="1.0"?>
<ArrayOfLotteryCompany xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <LotteryCompany>
    <CompanyId>1</CompanyId>
    <Name>Hanoi</Name>
    <Abbreviation>HN</Abbreviation>
    <Region>North</Region>
    <CompanyType>Hanoi</CompanyType>
    <CreateTime>2012-01-31T17:35:24.48</CreateTime>
    <OpenTime>0</OpenTime>
    <CloseTime>834000000000</CloseTime>
  </LotteryCompany>
  <LotteryCompany>
    <CompanyId>40</CompanyId>
    <Name>TPHCM </Name>
    <Abbreviation>TP</Abbreviation>
    <Region>South</Region>
    <CompanyType>EighteenA</CompanyType>
    <CreateTime>2012-03-27T23:49:46.723</CreateTime>
    <OpenTime>216000000000</OpenTime>
    <CloseTime>807000000000</CloseTime>
  </LotteryCompany>
  <LotteryCompany>
    <CompanyId>2</CompanyId>
    <Name>TP HCM</Name>
    <Abbreviation>TP</Abbreviation>
    <Region>South</Region>
    <CompanyType>EighteenA</CompanyType>
    <CreateTime>2012-01-31T17:35:40.603</CreateTime>
    <OpenTime>0</OpenTime>
    <CloseTime>807000000000</CloseTime>
  </LotteryCompany>
  <LotteryCompany>
    <CompanyId>41</CompanyId>
    <Name>Long An </Name>
    <Abbreviation>LA</Abbreviation>
    <Region>South</Region>
    <CompanyType>EighteenB</CompanyType>
    <CreateTime>2012-03-27T23:51:17.257</CreateTime>
    <OpenTime>216000000000</OpenTime>
    <CloseTime>582000000000</CloseTime>
  </LotteryCompany>
  <LotteryCompany>
    <CompanyId>42</CompanyId>
    <Name>Binh Phuoc</Name>
    <Abbreviation>BP</Abbreviation>
    <Region>South</Region>
    <CompanyType>EighteenC</CompanyType>
    <CreateTime>2012-03-27T23:54:49.197</CreateTime>
    <OpenTime>432000000000</OpenTime>
    <CloseTime>579000000000</CloseTime>
  </LotteryCompany>
  <LotteryCompany>
    <CompanyId>43</CompanyId>
    <Name>Hau Giang</Name>
    <Abbreviation>HG</Abbreviation>
    <Region>South</Region>
    <CompanyType>EighteenC</CompanyType>
    <CreateTime>2012-03-27T23:56:10.427</CreateTime>
    <OpenTime>216000000000</OpenTime>
    <CloseTime>414000000000</CloseTime>
  </LotteryCompany>
  <LotteryCompany>
    <CompanyId>47</CompanyId>
    <Name>testD</Name>
    <Abbreviation>TTD</Abbreviation>
    <Region>South</Region>
    <CompanyType>EighteenD</CompanyType>
    <CreateTime>2012-06-04T14:33:52.387</CreateTime>
    <OpenTime>0</OpenTime>
    <CloseTime>346800000000</CloseTime>
  </LotteryCompany>
</ArrayOfLotteryCompany>