<?xml version="1.0"?>
<ArrayOfLotteryCompany xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <LotteryCompany>
    <CompanyId>1</CompanyId>
    <Name>Hanoi</Name>
    <Abbreviation>HN</Abbreviation>
    <Region>North</Region>
    <CompanyType>Hanoi</CompanyType>
    <CreateTime>2012-01-31T17:35:24.48</CreateTime>
    <OpenTime>0</OpenTime>
    <CloseTime>834000000000</CloseTime>
  </LotteryCompany>
  <LotteryCompany>
    <CompanyId>33</CompanyId>
    <Name>Tay Ninh</Name>
    <Abbreviation>TN </Abbreviation>
    <Region>South</Region>
    <CompanyType>EighteenA</CompanyType>
    <CreateTime>2012-03-27T22:41:07.71</CreateTime>
    <OpenTime>216000000000</OpenTime>
    <CloseTime>858000000000</CloseTime>
  </LotteryCompany>
  <LotteryCompany>
    <CompanyId>34</CompanyId>
    <Name>An Giang </Name>
    <Abbreviation>AG</Abbreviation>
    <Region>South</Region>
    <CompanyType>EighteenB</CompanyType>
    <CreateTime>2012-03-27T22:42:29.357</CreateTime>
    <OpenTime>216000000000</OpenTime>
    <CloseTime>863400000000</CloseTime>
  </LotteryCompany>
  <LotteryCompany>
    <CompanyId>35</CompanyId>
    <Name>Binh Thuan</Name>
    <Abbreviation>BTH</Abbreviation>
    <Region>South</Region>
    <CompanyType>EighteenC</CompanyType>
    <CreateTime>2012-03-27T22:43:30.63</CreateTime>
    <OpenTime>216000000000</OpenTime>
    <CloseTime>579000000000</CloseTime>
  </LotteryCompany>
  <LotteryCompany>
    <CompanyId>47</CompanyId>
    <Name>testD</Name>
    <Abbreviation>TTD</Abbreviation>
    <Region>South</Region>
    <CompanyType>EighteenD</CompanyType>
    <CreateTime>2012-06-04T14:33:52.387</CreateTime>
    <OpenTime>0</OpenTime>
    <CloseTime>346800000000</CloseTime>
  </LotteryCompany>
</ArrayOfLotteryCompany>