<?xml version="1.0"?>
<ArrayOfLotteryCompany xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <LotteryCompany>
    <CompanyId>1</CompanyId>
    <Name>Hanoi</Name>
    <Abbreviation>HN</Abbreviation>
    <Region>North</Region>
    <CompanyType>Hanoi</CompanyType>
    <CreateTime>2012-01-31T17:35:24.48</CreateTime>
    <OpenTime>0</OpenTime>
    <CloseTime>858000000000</CloseTime>
  </LotteryCompany>
  <LotteryCompany>
    <CompanyId>44</CompanyId>
    <Name>Tien Giang </Name>
    <Abbreviation>TG</Abbreviation>
    <Region>South</Region>
    <CompanyType>EighteenA</CompanyType>
    <CreateTime>2012-03-27T23:57:41.24</CreateTime>
    <OpenTime>216000000000</OpenTime>
    <CloseTime>658200000000</CloseTime>
  </LotteryCompany>
  <LotteryCompany>
    <CompanyId>9</CompanyId>
    <Name>Ben Tre</Name>
    <Abbreviation>BT</Abbreviation>
    <Region>South</Region>
    <CompanyType>EighteenA</CompanyType>
    <CreateTime>2012-02-22T11:29:49.697</CreateTime>
    <OpenTime>216000000000</OpenTime>
    <CloseTime>798000000000</CloseTime>
  </LotteryCompany>
  <LotteryCompany>
    <CompanyId>45</CompanyId>
    <Name>Kien Giang</Name>
    <Abbreviation>KG</Abbreviation>
    <Region>South</Region>
    <CompanyType>EighteenB</CompanyType>
    <CreateTime>2012-03-27T23:58:56.533</CreateTime>
    <OpenTime>0</OpenTime>
    <CloseTime>658200000000</CloseTime>
  </LotteryCompany>
  <LotteryCompany>
    <CompanyId>47</CompanyId>
    <Name>testD</Name>
    <Abbreviation>TTD</Abbreviation>
    <Region>South</Region>
    <CompanyType>EighteenD</CompanyType>
    <CreateTime>2012-06-04T14:33:52.387</CreateTime>
    <OpenTime>0</OpenTime>
    <CloseTime>346800000000</CloseTime>
  </LotteryCompany>
</ArrayOfLotteryCompany>