<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="LotteryVoteDataBase" connectionString="Persist Security Info=False;User ID=sa;pwd=123;Initial Catalog=LotteryVote;Data Source=."/>
  </connectionStrings>
  <appSettings>
    <add key="ExecuteTime" value="23,30,00"/>
  </appSettings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
