@model LotteryVoteMVC.Models.CommissionValue
@using LotteryVoteMVC.Utility
<span>
    @using (Html.BeginCollectionItem("model"))
    {
        @Html.TextBoxFor(it => it.Comm)
        @Html.HiddenFor(it => it.GameId)
        @Html.HiddenFor(it => it.CompanyTypeId)
    }
</span>