#betTable
{
    text-align: center;
}
#betTable input[type='text']
{
    border: solid 1px #8A8A8A;
    height: 20px;
    min-width: 100px;
    width: 70%;
    text-align: center;
}
.turnover
{
    color: Red;
    font-weight: bold;
}
